
<div class="card-content">
	<div class="container" style="padding: 10px 10px 10px 10px">
		<div class="card-header">
			<h3>{{destino.nombre}}</h3>
		</div>
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt=""> 
		</div>

		<div class="card-desc">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p>
			<a href="#" class="btn-card">Read</a> 
		</div>
	</div>
</div> 

