<div class="container content"> 
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<div class="container">
				<!-- form card login with validation feedback --> 
				<div class="card card-outline-secondary">
					<div class="card-header">
						<h3 class="mb-0">Destinos</h3>
					</div>
					<div class="card-body">
						<form>
	  
							<div class="form-group">
								<label for="nombre">Nombre</label>
								<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre> 
							</div>
							<div class="form-group">
								<label for="Imagen Url">Imagen Url</label>
								<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #imagepath>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, imagepath.value)" >Guardar</button> 
							</div>
						</form>
					</div> 
				</div>
			</div>
		</div> 
	</div>
	<hr class="mb-5">
	<div class="row row-flex " > 
		<app-destino-viaje *ngFor="let d of destinos" [destino]="d" ></app-destino-viaje>
	</div> 
</div>
